.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: ;
}

.card{
    position: relative;
    background-color: beige;
    z-index: 0;
    border-radius: 20px;
    width: 50%;
    top: 60%;
    margin: 50px;
    gap: 50px;
    padding: 25px;
}

.header{
    text-align: left;
    color: blue;
    padding-left: 25px;
    padding-top: 20px;
   
}

/* .cardparagraph{
    position: relative;
    color: black;
    display: flex;
    text-align: start;
    width: 400px;
    font-size: medium;
    padding: 10px;
} */

.img{ 
    position: absolute;
    top:-40px;
    right: 20px;
    z-index: 1;
    border-radius: 10px; 
      width: 120px;
    height: 120px;
}

.wi{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 10px;  
}


@media(max-width:1000px) and (min-width:600px){

    .card{
        position: relative;
        background-color: beige;
        z-index: 0;
        border-radius: 20px;
        width: 50%;
        top: 60%;
        margin: 50px;
        gap: 50px;
        padding: 25px;
    }
.header{
    text-align: center;
    color: blue;
    padding-left: 25px;
    padding-top: 20px;
   
}
/* .cardparagraph{
    position: relative;
    color: black;
    display: flex;
    text-align: start;
    width: 400px;
    font-size: medium;
    padding: 10px;
} */

.img{ 
    position: absolute;
    top:-40px;
    right: 20px;
    z-index: 1;
    border-radius: 10px; 
      width: 120px;
    height: 120px;
}
.wi{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 10px;  
}



}

@media(max-width:600px){
    /* .cardparagraph{
        position: relative;
        color: black;
        display: flex;
        text-align: start;
        width: 400px;
        font-size: medium;
        padding: 10px;
    } */

    .card{
        position: relative;
        background-color: beige;
        z-index: 0;
        border-radius: 20px;
        width: 50%;
        top: 60%;
        margin: 50px;
        gap: 50px;
        padding: 25px;
    } 
    .img{ 
        position: absolute;
        top:-40px;
        left: 250px;
        z-index: 1;
        border-radius: 10px; 
        width: 120px;
        height: 120px;
    }
    .wi{
        width: 100px;
        height: 100px;
        position: fixed;
        bottom: 30px;
        right: 10px;  
    }    
    
    }

@media(min-width:600px){
    
    .card{
        position: relative;
        background-color: beige;
        z-index: 0;
        border-radius: 20px;
        width: 50%;
        top: 60%;
        margin: 50px;
        gap: 50px;
        padding: 20px;
    } 
    /* .cardparagraph{
        position: relative;
        color: black;
        display: flex;
        text-align: start;
        width: 400px;
        font-size: medium;
        padding: 10px;
    } */

.img{ 
    position: absolute;
    top:-40px;
    right: 20px;
    z-index: 1;
    border-radius: 10px; 
    width: 120px;
    height: 120px;
}
.wi{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 10px;  
}

}
